doc.txt
back-end/package-lock.json
back-end/package.json
font-end/.gitignore
font-end/package-lock.json
font-end/package.json
font-end/src/App.vue
font-end/src/admin/Dach.vue
font-end/src/components/admin/global/Header.vue
font-end/src/components/global/Header.vue
font-end/vue.config.js
font-end/src/components/admin/global/Aside.vue
font-end/src/helpers/
backEnd/mysqlCommand/
backEnd/server.js
font-end/.env
backEnd/uploads/